

h1 {
    color: rgb(190, 190, 235);
    background-color: rgb(77, 52, 134);
    border: 1px solid black;
  }
  
p {
  color: rgba(41, 30, 78, 0.979);
}

body {
  background-color: #9fd1e04d;
}

.item-gallery {
  height: 200px;
  width: 200px;
  margin: 10px;
  background-color: hsla(270, 49%, 82%, 0.925);
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

img {
  width: 300px;
  border: 1px solid black;
