<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>L'histoire des nageuses de Synchro</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
  </head>

  <body>
    <header>

      <nav>
        <button onclick="location.href='index.html'">Accueil</button>
        <button onclick="location.href='gallerie.html'">Galerie</button>
        <button onclick="location.href='contact.html'">Contact</button>
      </nav>
      
    </header>
    
    <h1>THE WINNING TEAM</h1>
    <img src="{{url_for('static', filename='img/duo.jpg')}}" />
    <img src="{{url_for('static', filename='img/rosace.jpg')}}"/>
    
    <h2>L'histoire des nageuses de Synchro</h2>
    <p>L'extraordinaire histoire des championnes de France 2024 de natation synchronisée, 15 ans après avoir arrêté la compétition</p>
    <p>Les "copines de la synchro" ont réalisé l'exploit : décrocher un titre de championnes de France de natation synchronisée après une pause "maman" de 15 ans. Une histoire, comme on les aime, faite d'amitié, de défi sportif et de réussite. Désormais quadragénaires accomplies, elles visent le titre européen la semaine du 1er juillet à Belgrade.</p>
    <img src="{{url_for('static', filename='img/salto.jpg')}}"/>

    


    <h1> gallery </h1>

    <div class="gallery">
        <div class="item-gallery"><img src="{{url_for('static', filename='img/sumarine.jpg')}}"></div>
        <div class="item-gallery"><img src="{{url_for('static', filename='img/arms.jpg')}}"></div>
        <div class="item-gallery">><img src="{{url_for('static', filename='img/jo.jpg')}}"></div>
        <div class="item-gallery"> <img src="{{url_for('static', filename='img/formation.jpg')}}"></div>
        <formatoin></formatoin>.jpg')}}"></div>
        <div class="item-gallery">Image 5</div>
        <div class="item-gallery">Image 6</div>

    </div>

  </body>

    </footer>
      

    <h2>Contact information</h2>
    <ul>
      <li>Email: <a href="mailto:jane@example.com">jane@example.com</a></li>
      <li>Web: <a href="http://example.com">http://example.com</a></li>
      <li>Tel: 123 45678</li>
    </ul>
  </footer>
</html>
